body {
    font-size: 125%;
    background: url(../assets/backgroundImage.png);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    background-position: center;
}
.pageFlexContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1, h2, h3, h4, h5, p, ul{
    margin: 0;
    font-weight: normal;
    font-family: $headerFont;
}

h1 {
    color: $skateGrey;
    font-size: 10rem;
    text-align: center;
    
    transform: rotate(-10deg);
    line-height: 8rem;
    margin: 50px 0;
    animation: glow 2s ease-in-out infinite alternate;
    // transition: ease .4s;
    // &:hover {
    //     color: $primaryWhite;
    //     text-shadow: 0px 0px 20px $primaryWhite;
    // }
}
h2 {
    font-size: 3rem;
    text-align: center;

}

p {
    font-family: $baseFont;
    text-transform: uppercase;
    letter-spacing: .3rem;
    text-align: center;
    color: $primaryWhite;
}