// Colours 
$primaryBlack: #361d51; 
$primaryWhite: #ffffff;
$skateRed: #ec2c7b;
$skateTeal: #0c96b3;
$skateGrey: #f99b4a;



// Fonts
$baseFont: freight-sans-pro, sans-serif;
$headerFont: 'Selfie_Black', sans-serif;  

@font-face {
    font-family: 'Selfie_Black';
    src: local('Selfie_Black'), url(../fonts/Selfie_Black.otf) format('opentype');
}

