// Colours 
$primaryBlack: #383838; 
$primaryWhite: #ffffff;
$skateRed: #ca0000;
$skateTeal: #009593;
$skateGrey: #e5e5e5;



// Fonts
$baseFont: freight-sans-pro, sans-serif;
$headerFont: bello-pro, sans-serif;



