article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: 'Selfie_Black';
  src: local("Selfie_Black"), url(../fonts/Selfie_Black.otf) format("opentype");
}

.buttonContainer {
  width: 15%;
  margin: 0 15px;
}

.circle {
  border-radius: 50%;
  text-align: center;
  background: #0c96b3;
  color: #ffffff;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  border: 3px dotted #ffffff;
  -webkit-box-shadow: 0px 0px 0px 5px #0c96b3;
  box-shadow: 0px 0px 0px 5px #0c96b3;
  position: relative;
  -webkit-transition: ease all 1s;
  transition: ease all 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.circle:hover {
  -webkit-transition: ease all .6s;
  transition: ease all .6s;
  border: 3px dotted #ffffff;
  background: #ec2c7b;
  color: #ffffff;
  -webkit-box-shadow: 0px 0px 0px 5px #ec2c7b;
  box-shadow: 0px 0px 0px 5px #ec2c7b;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

.circle:focus {
  -webkit-animation: none;
          animation: none;
}

.circle button {
  border: 0;
  background: transparent;
  width: 100%;
  font-family: "Selfie_Black", sans-serif;
  font-size: 3rem;
  position: absolute;
  left: 50%;
  bottom: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  line-height: 2.8rem;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: ease all 0.6s;
  transition: ease all 0.6s;
  padding: 100% 0;
}

.circle button:hover {
  -webkit-transition: ease all 1.2s;
  transition: ease all 1.2s;
  color: #ffffff;
}

body {
  font-size: 125%;
  background: url(../assets/backgroundImage.png);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  background-position: center;
}

.pageFlexContainer {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 0;
}

h1, h2, h3, h4, h5, p, ul {
  margin: 0;
  font-weight: normal;
  text-align: center;
  font-family: "Selfie_Black", sans-serif;
}

p, ul {
  font-family: freight-sans-pro, sans-serif;
  list-style: none;
  padding: 0;
}

h1 {
  color: #f99b4a;
  font-size: 10rem;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  line-height: 8rem;
  margin: 50px 0;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
          animation: glow 2s ease-in-out infinite alternate;
}

h2 {
  font-size: 3rem;
  text-transform: capitalize;
  color: #ec2c7b;
}

.hidden {
  display: none;
}

.flexParent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.thanksPopup, .resultsPopup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.9);
  width: 50%;
  height: auto;
  padding: 50px;
  border-radius: 32px 0 32px 0;
  margin: 30px auto;
}

.thanksPopup .resetForm, .resultsPopup .resetForm {
  border: 0;
  border-radius: 32px 0 32px 0;
  background: #ec2c7b;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  width: auto;
  padding: 20px;
  margin: 0 auto;
  -webkit-transition: ease all .5s;
  transition: ease all .5s;
}

.thanksPopup .resetForm:hover, .resultsPopup .resetForm:hover {
  background: #0c96b3;
}

.resultsPopup {
  width: 80%;
}

.resultsContent {
  width: 100%;
  color: #ffffff;
}

.resultsContent h4 {
  font-family: freight-sans-pro, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.flexList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
}

.flexList li {
  margin: 15px 0;
}

span.infoTitle {
  font-weight: bold;
  text-transform: uppercase;
}

.eachResult {
  background: #0c96b3;
  border-radius: 32px 0 32px 0;
  padding: 20px;
  margin: 40px auto;
  border-bottom: 1px dotted #ec2c7b;
  width: 80%;
  border: 2px dotted #ffffff;
  -webkit-box-shadow: 0px 0px 0px 5px #0c96b3;
          box-shadow: 0px 0px 0px 5px #0c96b3;
}

.eachResult button {
  cursor: url("../assets/skateIcon.png"), auto;
  border-radius: 32px 0 32px 0;
  width: 30%;
  margin: 15px auto;
  border: 0;
  background: #ec2c7b;
  padding: 10px;
  text-transform: uppercase;
  font-family: freight-sans-pro, sans-serif;
  color: #ffffff;
  font-weight: bold;
  -webkit-transition: ease all .6s;
  transition: ease all .6s;
}

.eachResult button:hover, .eachResult button :focus {
  background: #f99b4a;
}

form {
  width: 50%;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 32px 0 32px 0;
  height: auto;
  margin: 40px auto;
  text-align: center;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form button {
  border-radius: 32px 0 32px 0;
  width: 30%;
  margin: 15px auto;
  border: 0;
  background: #ec2c7b;
  padding: 10px;
  text-transform: uppercase;
  font-family: freight-sans-pro, sans-serif;
  color: #ffffff;
  font-weight: bold;
  -webkit-transition: ease all .6s;
  transition: ease all .6s;
}

form button:hover, form button :focus {
  background: #0c96b3;
}

form input, form select {
  border-radius: 5px;
  width: 80%;
  padding: 10px;
  margin: 10px auto;
  -webkit-box-shadow: inset 0 0 5px #0a829b;
          box-shadow: inset 0 0 5px #0a829b;
  border: none;
  height: 50px;
  color: #faa963;
}

footer {
  margin-top: 40px;
}

footer p {
  font-family: freight-sans-pro, sans-serif;
  text-transform: uppercase;
  letter-spacing: .3rem;
  text-align: center;
  color: #ffffff;
}

/* 
---------------------- 
@media Styles 
---------------------- 
*/
@media (max-width: 940px) {
  form {
    width: 70%;
  }
  form button {
    width: 35%;
  }
}

@media (max-width: 784px) {
  .buttonContainer {
    width: 30%;
  }
  form {
    width: 80%;
  }
  form h2 {
    width: 60%;
    margin: 0 auto;
  }
  form button {
    width: 40%;
  }
}

@media (max-width: 420px) {
  .buttonContainer {
    width: 40%;
    margin: 10px 0;
  }
  .flexParent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  h1 {
    font-size: 6rem;
    line-height: 4rem;
    margin: 20px 0;
    -webkit-animation: none;
            animation: none;
    color: #ffffff;
  }
  form input, form select {
    width: 95%;
  }
  form button {
    width: 80%;
  }
  form h2 {
    width: 90%;
    line-height: 2.4rem;
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0px 0px 0px #ffffff, -1px -1px 0px #ffffff, 1px -1px 0px #ffffff, -1px 1px 0px #ffffff, 1px 1px 0px #ffffff, 0px 0px 10px #ffffff;
  }
  to {
    text-shadow: 0px 0px 0px #ffffff, -1px -1px 0px #ffffff, 1px -1px 0px #ffffff, -1px 1px 0px #ffffff, 1px 1px 0px #ffffff, 0px 0px 10px #ffffff, 0px 0px 20px #ffffff;
    color: #ffffff;
  }
}

@keyframes glow {
  from {
    text-shadow: 0px 0px 0px #ffffff, -1px -1px 0px #ffffff, 1px -1px 0px #ffffff, -1px 1px 0px #ffffff, 1px 1px 0px #ffffff, 0px 0px 10px #ffffff;
  }
  to {
    text-shadow: 0px 0px 0px #ffffff, -1px -1px 0px #ffffff, 1px -1px 0px #ffffff, -1px 1px 0px #ffffff, 1px 1px 0px #ffffff, 0px 0px 10px #ffffff, 0px 0px 20px #ffffff;
    color: #ffffff;
  }
}
/*# sourceMappingURL=App.css.map */